.maprouter{
    text-align:right;
    height:500px;
    width:600px;
}
.gmap_canvas{
    overflow:hidden;
    background:none!important;
    height:500px;width:600px;
}
.playerCard{
    margin-left: 20px;
    overflow: auto;
    width: 300px;
    min-height: 300px;
    height: auto;
    border-image-width: 1px;
    border-color: black;
    border: solid;
    border-radius: 1%;
}
.searchbar{
    width: 300px;
}
.profileImage{
    width:100px;
    height:100px;
    position: relative;
    float: right;
    margin-inside: 20px ;
}


